$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 1rem 2.5rem
  min-height calc(70vh - #{$footerHeight})
  margin-top $navbarHeight
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem
